*{
    padding: 0%;
    margin: 0%;
    font-family: Calibri,Candara,Optima,Arial,sans-serif; 
    font-weight: 300;
}

html{
    background-color: #070707;
}

nav {
    background-color: #111;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
body{
    background-color: #111;
}
  nav ul {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
  
  nav li {
    float: left;
}
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: #333;
    margin: 5px;
    margin-top: 15px;
    width: 45px;
    border-radius: 3px;
}
  
.clicked{
    background-color: #111;
    border: solid 2px;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.images{
    margin-top: 13px;
    display: flex;
    justify-content: center;
}
.logos{
    margin: 10px;
    height: 25px;
    width: 25px;
}

.logos.a{
    animation-name: slidefromleft;
    animation-duration: 2.4s;
}
.logos.b{
    animation-name: slidefromleft;
    animation-duration: 2.7s;
}
.logos.c{
    animation-name: slidefromleft;
    animation-duration: 3s;
}
.logos.d{
    animation-name: slidefromleft;
    animation-duration: 3.3s;
}

.tophits{
    color: aliceblue;
    /* animation-delay: 4s; */
    animation-name: opacity;
    animation-duration: 4s;
}

.card.a{
    animation-name: slidefrombelow;
    animation-duration: 2.4s;
}

.card.b{
    animation-name: slidefrombelow;
    animation-duration: 2.7s;
}

.card.c{
    animation-name: slidefrombelow;
    animation-duration: 3s;
}
.profilepicture{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 10px;
    margin-top: 15px;
}

.title{
    color: rgb(202, 202, 202);
    text-align: left;
    margin-left: 10px;
    margin-top: -7px;
}

.duration{
    font-size: smaller;
    margin-top: 0.1px;
    margin-left: 7px;
    scale: 95%;
}

.content{
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.none{
    margin-top: 10px;
    text-decoration: none;
}

.card {
    color: rgb(202, 202, 202);
    background-color: rgba(255, 141, 41, 0);
    box-shadow: rgba(39, 154, 255, 0.35) 0px 5px 15px;
    border-radius: 8px;
    margin: 10px;
    margin-top: 10px;
    height: 50px;
    border: solid 1px;
    text-align: left;
    font-family: arial;
}

.songtitle{
    margin-top: 5px;
    scale: 95%;
}

p{
    margin-left: 5px;
}

h5{
    margin-left: 2px;
    opacity: 70%;
}

.about{
    color: aliceblue;
    background-color: #00000000;
}
.text {
    position: absolute;
    top: 25%;
    left:5%;
}

fieldset{
    max-width: 93%;
}

footer{
    position: absolute;
    top: 55%;
    left: 3%;
}

legend{
    padding: 0px 7px;
}

.socials{
    scale: 90%;
    position: absolute;
    color: aliceblue;
    top: 50%;
    left: 2%;
}

.footerimages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    text-align: left;
}

footer img{
    padding: 0%;
    margin: 0;
}

footer a{
    color: antiquewhite;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    
}

.background{
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,1)), url("Nofil1.JPG");
    background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    height: 630px;
}

.movedown{
    margin-top: 12px;
}

.right{
    justify-self: end;
}

.contact{
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    color: white;
    opacity: 50%;
    scale: 50%;
}

@keyframes slidefromleft{
    0%{
        transform: translateX(500%);
    }

100%{
        transform: translateX(0%);
    }
}
@keyframes slidefrombelow{
    0%{
        transform: translateY(500%);
    }

100%{
        transform: translateY(0%);
    }
}

@keyframes opacity {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}